.header-block {
    padding-top: 1px;
    padding-bottom: 15px;
    width: 400px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 7px;
}

h2 {
    color: darkred;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
}

.body-calculator {
    width: 400px;
    height: 400px;
    background-color: lightgrey;
    border-radius: 7px;
}

.display {
    margin-top: 10px;
    width: 360px;
    margin-left: 7px;
    font-size: 26px;
    padding: 10px;
    border-radius: 7px;
    color: #333333;
    outline: none;
    font-family: "Times New Roman", sans-serif;
}

.button {
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 7px;
    background: beige;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    outline: none;
    font-family: "Times New Roman", sans-serif;
}

.button:hover {
    background: #f4ff8b;
}

.button.button.CE {
    background: rgba(255, 255, 0, 0.76);
}

.button.button.CE:hover {
    background: rgba(255, 0, 0, 0.71);
}

button.button.\= {
    width: 150px;
    background: rgba(0, 128, 0, 0.79);
}

button.button.\=:hover {
    width: 150px;
    background: greenyellow;
}

.header-history {
    font-size: 22px;
}

.history-container {
    padding: 5px;
    width: 400px;
    height: 455px;
    background: lightgrey;
    margin-left: 450px;
    margin-top: -465px;
    margin-bottom: 13px;
    border-radius: 7px;
    font-size: 20px;
    color: #333333;
    outline: none;
    font-family: "Times New Roman", sans-serif;
}